<p>Your account was created by Superadmin</p>

<p>Your email for login is:</p>
<p style="color:#666666"><%= @user.email %></p>

<p>Your temporary password is:</p>
<p style="color:#666666"><%= @password %></p>

<p>You can sign in to your account by visiting <%= link_to(@url, @url) %> </p>
