<div class='wrapper-content-admin'>
  <div class="col-md-24 six-box">
    
    <div class="box-borneo">
      <a href="/"><img src="/assets/logo.png" style="margin-top: 31%;"></a>
    </div>
   
    <% if current_user.is_superadmin %>
    <div class="box-borneo admin-box" style="background-image: url('/assets/admin2.png'); background-repeat: no-repeat; position: relative;">
        <a href="/tours/dashboard_page" style="width: 100%; height: 322px; position: absolute;"></a>
        <ul>
          <li >
            1. <a class="custom-style-a">Quotation sending</a>
          </li>
          <li >
            2. <a class="custom-style-a" >Invoice sending</a>
          </li>
          <li >
            3. <a class="custom-style-a" >Itinerary sending - Itinerary (Sample) sending</a>
          </li>
          <li >
            4. <a class="custom-style-a" >Purchase order sending</a>
          </li>
        </ul>
        <div class="admin-text"><a class="custom-style-a"  style="font-size: 60px;">Admin</a></div>
    </div>
    <% end %>
    
    <% if current_user.is_superadmin or current_user.department_id == 1 %>
    <div class="box-borneo sales-box" style="background-color: #de9527;">
      <a href="/sales/dashboard" style="width: 100%; height: 322px; position: absolute;"></a>       
      <div class="per-ce">%</div>
      <div class="sale">
        <a >Sales</a>
      </div>
      <ul>
        <li >
          1. <a class="custom-style-a" >When lead is allocated to user</a>
        </li>
        <li >
          2. <a class="custom-style-a" >For allocated leads - Remind user 24 hours later to follow up.</a>
        </li>
        <li >
          3. <a class="custom-style-a" >For quotation</a>
        </li>
      </ul>
    </div>
    <% end %>  
    
    <% if current_user.is_superadmin or current_user.department_id == 4 %>  
    <div class="box-borneo finance-box" style="background-image: url('/assets/finance.png');">
        <div class="tit-fina">
          <a  style="">Finance</a>
        </div>
        <div style="font-size: 16px; color: white; text-align: right; font-weight: 400;">Bookings</div>
        <div style="font-size: 14px; color: white; text-align: right; font-weight: 300; line-height: 4em;">Able to issue official receipts</div>
        <ul>
          <li >
            1. <a class="custom-style-a" >Journal Entries</a>
          </li>
          <li >
            2. <a class="custom-style-a" >General Ledgers</a>
          </li>
          <li >
            3. <a class="custom-style-a" >Debit Note</a>
          </li>
          <li >
            4. <a class="custom-style-a" >Credit Note</a>
          </li>
        </ul>
    </div>
    <% end %>  
    
    <% if current_user.is_superadmin or current_user.department_id == 2 %>       
    <div class="box-borneo" style="background-image: url('/assets/reservations.png'); position: relative;">
       <a href="/vendors/dashboard_page" style="width: 100%; height: 322px; position: absolute;"></a>
       <div class="reservations-text">
         <a >Reservations</a>
       </div>
    </div>
    <% end %>  
        
    <% if current_user.is_superadmin or current_user.department_id == 3 %>    
    <div class="box-borneo operation-box" style="background-image: url('/assets/operation.png'); position: relative;">
      <div class="operation-text">Operation</div>
      <ul>
        <li >
          1. <a class="custom-style-a" >Daily update to Operations</a>
        </li>
        <li >
          2. <a class="custom-style-a" >Weekly update to Operations</a>
        </li>
      </ul>
    </div>
    <% end %>  
    
    <div class="text-pro-name" style="width: 100%;padding-left: 15px; font-size: 14px; font-weight: 300; margin-top: 10px; float: left; color: gray;">© 2015 by Amazing Borneo Tour</div>
  </div>
</div>