<div class="row wrapper border-bottom white-bg page-heading text-center">
  <div class='col-lg-12'>
    <div class="m-b-md text-center">
      <a href="<%= sources_url %>" class="btn btn-primary pull-left btn-back">&larr; Back</a>
      <h2 style="padding-right: 0px;">New Source</h2>
      <ol class="breadcrumb new-source">
        <li>
          <a href="/dashboard">Home</a>
        </li>
        <li class="active">
          <strong>Sources</strong>
        </li>
      </ol>
    </div>
  </div>
</div> <!--row wrapper-->
<div class='wrapper wrapper-content'>
  <div class='ibox white-bg'>
    <div class='ibox-content'>
      <%= render 'form' %>
    </div>
  </div>
</div> 
