// Place all the styles related to the Customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-group-customer .select-customer{
   margin-top: 15px;
}

.form-group-customer .btn-done{
  //margin-top: 15px;
}

.form-group-customer input#name-customer{
  width: 80%;
  height: 32px;
  border-radius: 5px;
  border: 1px solid #e5e6e7;
  padding-left: 15px;
}

.form-group button#done{
  width: 90px;
  margin-top: 25px;
}

.group-input #search-customer{
  margin-right: 0px !important;
  padding-left: 30px;
}

.select-customer-country .sbHolder{
  margin-left: 0px !important;
  width: 100% !important;
  margin-bottom: 20px;
}

.select-customer-source .sbHolder{
  margin-right: 0px !important;
  width: 100% !important;
}

.new-customer a.btn.btn-primary{
  margin-top: 15px;
}

//listing table
table.listing-table {
  background: #ffffff none repeat scroll 0 0;
  border: 1px solid #e7e7e7;
  font-size: 12px;
  //margin-top: 40px;
  width: 100%;
}

table.listing-table thead th.no{
  background: #8093a5 none repeat scroll 0 0;
  color: #fff;
  width: 5%;
}

table.listing-table thead th.customer-thead-name, 
table.listing-table thead th.customer-thead-contact, 
table.listing-table thead th.customer-thead-country, 
table.listing-table thead th.customer-action{
  background:#ececec none repeat;
  color: #77888f;
}

table.listing-table thead th.customer-thead-email, 
table.listing-table thead th.customer-thead-address, 
table.listing-table thead th.customer-thead-source{
  background: #8093a5 none repeat scroll 0 0;
  color: #fff;
}

table.listing-table thead th.customer-thead-name{
  width: 20%;
}

table.listing-table thead th.customer-thead-email, 
table.listing-table thead th.customer-thead-contact, 
table.listing-table thead th.customer-thead-address{
  width: 15%;
}

table.listing-table thead th.customer-thead-country,
table.listing-table thead th.customer-thead-source, 
table.listing-table thead th.customer-action{
  width: 10%;
}

table.listing-table thead th.customer-thead-name a.menu-down, 
table.listing-table thead th.customer-thead-contact a.menu-down,
table.listing-table thead th.customer-thead-country a.menu-down{
  color: #8093a5;
  top: 3px;
  left: 3px;
}

table.listing-table thead th.customer-thead-email a.menu-down,
table.listing-table thead th.customer-thead-address a.menu-down,
table.listing-table thead th.customer-thead-source a.menu-down{
  color: #fff;
  top: 3px;
  left: 3px;
}

table.listing-table{
  tbody {
    tr.odd td{
      padding: 10px;
    } 
    tr.even td{
      padding: 10px;
    }
  }
}

#accept p{
  text-align: center;
}

form.select-customer-country .sbHolder,
form.select-customer-source .sbHolder
{
  background: white;
  width: 325px;
  border-radius: 4px;

  .sbSelector {
    color: #5e5e5e;
    width: 100%;
  }
  ul.sbOptions {
    width: 100%;
    background-color: white;
  }
  .sbToggle {
    height: 28px;
    background-color: #22A98E;
  }

  .sbOptions a:link {
    color: #5e5e5e ;
    &:hover{
      color: #EADB35;
    };
  }
}

.form-group-customer form .sbHolder{
  margin-top: 10px;
  margin-bottom: 15px;
}
form .sbHolder {
  background: white;
  width: 325px;
  margin-top: 15px;
  border-radius: 4px;
  .sbSelector {
    color: #5e5e5e;
    width: 100%;
  }
  ul.sbOptions {
    width: 100%;
    background-color: white;
  }
  .sbToggle {
    height: 28px;
    background-color: #22A98E;
  }

  .sbOptions a:link {
    color: #5e5e5e ;
    &:hover{
      color: #EADB35;
    };
  }
}


@media (max-width: 767px) {
  a.submit{
    margin-top: 0px !important;
  }

  .sbHolder{
    margin-bottom: 0px;
  }
  
  .select-customer-country .sbHolder{
    margin-left: 0px !important;
    width: 100% !important;
    margin-bottom: 20px;
  }

  .select-customer-source .sbHolder{
    margin-right: 0px !important;
    width: 100% !important;
  }
}

.ibox-content form#new_customer .form-group .form-control{
  width : 100%;
}

#customer_email_address, #customer_contact_number, #customer_address{
  margin-top: 25px;
}

.form-group ul.inline-errors{
  padding-left: 0px;
  color: #ff0000;
  margin-bottom: -10px;
  margin-top: 5px;
}

.btn.btn-white.modal-box-no, .btn.btn-white.modal-box-yes{
  margin: 5px;
  width: 60px;
}

.new-customer .btn.btn-primary{
  width: 120px;
}

#ajax_modal .ibox{
   margin-bottom: 0px;
}