<%= semantic_form_for @vendor_category, :url =>  @vendor_category.new_record? ?  "/vendor_categories" : "/vendor_categories/#{@vendor_category.id}",  :html => {:method => @vendor_category.new_record? ? :post : :put } do |f| %>
 <%= f.inputs do %> 
 <div class= "form-group">
   <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 padding-0">
     <%= f.input :name,  as: :string, placeholder: "Name Vendor Category" %>
   </div>
   <div class = "col-md-2 col-sm-2 col-xs-12"></div>
 </div>
  
  <div class="form-group">
    <div class="col-md-12 col-sm-12 col-xs-12 padding-0 text-center">
      <a class="btn btn-primary" href='<%= vendor_categories_url %>'>Cancel</a>
      <button class="btn btn-primary save-form-button" type="submit">Save</button>
    </div>
  </div>
  <% end %>
<% end %>

<script language="javascript">
  $(document).ready(function() {
  });  
</script>
