<div class="row wrapper border-bottom white-bg page-heading text-center">
  <div class='col-lg-12'>
    <div class="m-b-md text-center">
      <a href="<%= vendor_categories_url %>" class="btn btn-primary btn-xs pull-left back-button">&larr; Back</a>
      <h2>Edit Vendor Category <%= @vendor_category.name.html_safe %></h2>
    </div>
    <div class='row'>
      <div class='col-lg-12'>
        <hr />
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>

