<div class='row'>
  <div class='col-lg-12'>
    <div class="row wrapper border-bottom white-bg page-heading text-center">
      <h2>Vendor Categories</h2>
      <ol class="breadcrumb">
        <li>
          <a href="/dashboard">Home</a>
        </li>
        <li class="active">
          <strong>Vendor Category</strong>
        </li>
      </ol>
    </div>
  </div>
</div>
<div class='wrapper wrapper-content'>
  <div class='ibox'>
    <div class='ibox-content container-fluid white-bg'>
      <div class='clearfix'>
        <%= link_to 'Add New', new_vendor_category_url, class: "btn btn-primary pull-left" %>
      </div>
    </div>
    <div id="listing-table vendor-listing-content">
      <%= smart_listing_render(:vendor_categories) %>
    </div>
  </div>
</div>
          