<div class='row'>
  <div class='col-lg-12'>
    <div class="row wrapper border-bottom white-bg page-heading text-center">
      <div class="col-md-4 col-sm-4 col-xs-12"></div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <h2>Vendor Categories</h2>
        <ol class="breadcrumb">
          <li>
            <a href="/dashboard">Home</a>
          </li>
          <li>
            <a href="/vendors/dashboard_page">Reservations</a>
          </li>
          <li class="active">
            <strong>Vendor Categories</strong>
          </li>
        </ol>
      </div>
      
      
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class='ibox-content container-fluid white-bg' style="padding-top: 40px; padding-bottom: 0px; padding-right: 0px; float: right;">
        
          <div id="vendor_filter_rs">
            <%= smart_listing_controls_for(:vendor_categories) do %>
            <ol class='filter-form-group' >
              <li class="date-form-field" style="width: 220px;">
              
                <%= text_field_tag :name, "", name: "search_rs[search_all]", class: "input-search-mini-box", placeholder: "Search"  %> 
                <a class="submit icon-search-style" style="color: #ccc;">
                  <span aria-hidden="true" class="glyphicon glyphicon-search"></span>
                </a>
              </li>                     
            </ol>  
            <% end %>
          </div>
                  
        </div>
      </div>
      
      
    </div>
  </div>
</div>
<div class='wrapper wrapper-content'>
  <div class='ibox'>
    <div class='ibox-content container-fluid' style="background-color: #F3F3F4 ; padding-top: 2px; padding-bottom: 2px; padding-left: 0px;">
      <div class='clearfix'>
        <%= link_to 'Add New', new_vendor_category_url, class: "btn btn-primary pull-left margin-left-0" %>
      </div>
    </div>
    <div id="listing-table vendor-listing-content">
      <%= smart_listing_render(:vendor_categories) %>
    </div>
  </div>
</div>

<script language="javascript">
  $(document).ready(function() { 
  <% if flash[:notice] %>
    $.cookie('flashType', "notice", { path: '/' });
    $.cookie('flashMessage', 'Vendor-Category has been saved successfully!', { path: '/' });
    toastr['success']($.cookie('flashMessage'));
    $.removeCookie('flashType', { path: '/' });
    $.removeCookie('flashMessage', { path: '/' });
    <% flash[:notice] = false %>
  <%  end %>
  });  
</script>
      
          