<div class='row'>
  <div class='col-lg-12'>
    <div class="row wrapper border-bottom white-bg page-heading text-center">
      <h2>Vendor Categories</h2>
      <ol class="breadcrumb">
        <li>
          <a href="/dashboard">Home</a>
        </li>
        <li class="active">
          <strong>Vendor Category</strong>
        </li>
      </ol>
    </div>
  </div>
</div>
<div class='wrapper wrapper-content'>
  <div class='ibox'>
    <div class='ibox-content container-fluid white-bg'>
      <div class='clearfix'>
        <%= link_to 'Add New', new_vendor_category_url, class: "btn btn-primary pull-left" %>
      </div>
    </div>
    <div id="listing-table vendor-listing-content">
      <%= smart_listing_render(:vendor_categories) %>
    </div>
  </div>
</div>

<script language="javascript">
  $(document).ready(function() { 
  <% show_flash ||= false %>
  <% if show_flash %>
    $.cookie('flashType', "notice", { path: '/' });
    $.cookie('flashMessage', 'Vendor-Category has been saved successfully!', { path: '/' });
    toastr['success']($.cookie('flashMessage'));
    $.removeCookie('flashType', { path: '/' });
    $.removeCookie('flashMessage', { path: '/' });
  <%  end %>
  });  
</script>
      
          