.container-fluid.padding-0
  .col-md-12.col-sm-12.col-xs-12.padding-0
    #home_header_container
      nav.navbar.navbar-default
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation      
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') AMAZING BORNEO ERP
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a.fa.fa-bell#only_for_large_screen(href='#')
              a#only_for_small_screen(href="#") Notifications
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') Lynn Tiang
                span.caret       
              ul.dropdown-menu(role='menu')
                li
                  a(href='#') Profile        
                li
                  a(href='#') Settings
                li.divider
                li
                  a(href='#') Logout
      
  .col-md-12.col-sm-12.col-xs-12.padding-0
    .col-md-2.col-sm-2.col-xs-12.padding-0
      #left_sidebar_container
    .col-md-10.col-sm-10.col-xs-12.padding-0
      #right_sidebar_container