.container-fluid.padding-0
  .col-md-12.col-sm-12.col-xs-12.padding-0
    .col-md-2.col-sm-6.col-xs-12.padding-0
      .start-page-item.admin
        h3 Admin
        ul
          li
            a(href="#") Users
          li
             a(href="#") Tours (Input cost price)
          li
             a(href="#") Tour Categories
          li
             a(href="#") Non-Tours
          li
             a(href="#") Reports
    .col-md-2.col-sm-6.col-xs-12.padding-0
      .start-page-item.sales
        h3 sales
        ul
          li
            a(href="#") Customers
          li
             a(href="#") Leads
          li
             a(href="#") Bookings
    .col-md-3.col-sm-4.col-xs-12.padding-0
      .start-page-item.reservations
        h3 reservations
        ul
          li
            a(href="#") Vendors
          li
             a(href="#") Vendor Categories
          li
             a(href="#") Purchase Orders (EOV)
          li
             a(href="#") Search and display Ad-hoc and Normal rates
          li
             a(href="#") MTQ Slots
    .col-md-3.col-sm-4.col-xs-12.padding-0
      .start-page-item.operations
        h3 operations
        ul
          li
            a(href="#") Dashboard view of today's deployment and who is on leave
          li
             a(href="#") Mountain Guides
          li
             a(href="#") Tour Guides
          li
             a(href="#") Captains
          li
             a(href="#") Vehicles (Licence validity and maintenance)
    .col-md-2.col-sm-4.col-xs-12.padding-0
      .start-page-item.finance
        h3 finance
        ul
          li
            a(href="#") Bookings (Able to issue official receipts)
          li
             a(href="#") Journal Entries
          li
             a(href="#") General Ledgers
          li
             a(href="#") Debit Note
          li
             a(href="#") Credit Note