.container
  .col-md-12.col-sm-12.col-xs-12.padding-0
    .panel.panel-default
      .panel-heading
        h3.panel-title Login Page
      .panel-body
        form
          .form-group
            label(for='exampleInputEmail1') Email address
            input#exampleInputEmail1.form-control(type='email', placeholder='Enter email')
          .form-group
            label(for='exampleInputPassword1') Password 
            input#exampleInputPassword1.form-control(type='password', placeholder='Password')
          button.btn.btn-default(type='submit') Submit
        