// Place all the styles related to the leads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

hr{
  height: 2px;
  border: 0;
  box-shadow: inset 0 2px 2px -2px rgba(0, 0, 0, 0.5);
}

.form-group button#create{
  width: 80%;
}

.form-group input#lead_adults{
  width: 80%;
  margin: 0 auto;
  //margin-right: 30px;
}

.form-group input#lead_children{
  width: 90%;
  margin: 0 auto;
  float: right;
}

.btn.btn-primary.filter{
  width: 73%;
}

#search-lead{
  width: 50%;
}

.lead-action{
  
}

.new-booking #new, .new-lead #new{
  margin-top: 20px;
}

.form-group p{
  margin-left: 50px;
  font-size: 15px;
}

.form-adults{
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #e5e6e7;
  border-radius: 5px;
  color: inherit;
  display: block;
  margin: 0 auto;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 80%;
}

#lead_travel_from, #lead_travel_to,input#datetimepicker_from, input#datetimepicker_to{
  background-image: url("/assets/dashboard/calendar-icon.png");
  background-repeat: no-repeat;
  background-position: 99% 6px;
  width: 100% !important;
}

 #lead_contact_number{
   width: 100% !important;
 }

.inputs li{
  list-style: none;
}

table.listing-table thead th.no,
table.listing-table thead th.lead-thead-name,
table.listing-table thead th.lead-thead-tour-category,
table.listing-table thead th.lead-thead-sale{
  //background:#ececec none repeat;
//  color: #77888f;
  background: #8093a5 none repeat scroll 0 0;
  color: #fff;
}

table.listing-table thead th.lead-thead-name a.menu-down,
table.listing-table thead th.lead-thead-tour-category a.menu-down,
table.listing-table thead th.lead-thead-sale a.menu-down{
  color: #fff;
  margin-top: 4px;
  margin-left: 6px;
}

table.listing-table thead th.date,
table.listing-table thead th.lead-thead-email,
table.listing-table thead th.lead-thead-status,
table.listing-table thead th.lead-action{
  background:#ececec none repeat;
  color: #77888f;
}

table.listing-table thead th.date a.menu-down,
table.listing-table thead th.lead-thead-email a.menu-down,
table.listing-table thead th.lead-thead-status a.menu-down,
table.listing-table thead th.lead-action a.menu-down{
  color: #8093a5;
  margin-top: 4px;
  margin-left: 6px;
}

#lead_travel_from_input,
#lead_travel_to_input,
#lead_contact_number_input,
#lead_adults_input,
#lead_children_input,{
  margin-top: 25px;
}

.ud-vd {
  padding: 6px 30px !important;
  font-size: 12px;
}


form.select-lead-status .sbHolder{
  background: white;
  width: 73%;
  border-radius: 4px;
  margin-bottom: 20px;
  .sbSelector {
    color: #5e5e5e;
    width: 100%;
  }
  ul.sbOptions {
    width: 100%;
    background-color: white;
  }
  .sbToggle {
    height: 28px;
    background-color: #22A98E;
  }

  .sbOptions a:link {
    color: #5e5e5e ;
    &:hover{
      color: #EADB35;
    };
  }
}

#lead_customer_id_input .sbHolder{
  background: white;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 10px;
  .sbSelector {
    color: #5e5e5e;
    width: 100%;
  }
  ul.sbOptions {
    width: 100%;
    background-color: white;
  }
  .sbToggle {
    height: 28px;
    background-color: #22A98E;
  }

  .sbOptions a:link {
    color: #5e5e5e ;
    &:hover{
      color: #EADB35;
    };
  }
}

#lead_adults, #lead_children{
   width: 80% !important;
}
#lead_adults {
  float: left;
}


form.booking div.formnestic-nested-model-container div.formnestic-list-new-entry-link-container a, form.lead div.formnestic-nested-model-container div.formnestic-list-new-entry-link-container a {
  float: right;
  display: block;
  background-color: #1ab394;
  border-color: #1ab394;
  color: #ffffff;
  border-radius: 5px;
  font-size: 14px;
}
form.lead, form.booking {
  div.formnestic-nested-model-container div.formnestic-list-new-entry-link-container a {
    float: right;
    display: block;
  }
}


form.lead, form.booking {
  div.formnestic-nested-model-container fieldset.formnestic-li-fieldset{
    border-bottom: 1px dashed #cccccc;
    display: block;
    float: left;
    margin-bottom: 15px;
    position: relative;
    width: 100%;
  }
}



form.lead div.formnestic-nested-model-container fieldset.formnestic-li-fieldset {
  li.input{
    margin-bottom: 0px;
  }
  border-bottom: none;
  border-top: 1px dashed #cccccc;
//  padding-top: 15px;
//  margin-top: 15px;
}

form.lead .formnestic-nested-model-container {
  .formnestic-list-entries-container {
    li{
      width: 100%;
      margin-top: 15px;
    }
  }
  .formnestic-li-fieldset {
    border-bottom: none;
    .sbHolder {
      margin-top: 15px;
      background: white;
      width: 325px;
      border-radius: 4px;

      .sbSelector {
        color: #5e5e5e;
        width: 100%;
      }
      ul.sbOptions {
        width: 100%;
        background-color: white;
      }
    }
  }
}
.form-group .lead-tour-category .sbHolder, .form-group .booking-tour-category .sbHolder{
  background: white;
  border-radius: 4px;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 98%;
  .sbSelector {
    color: #5e5e5e;
    width: 100%;
  }
  ul.sbOptions {
    width: 100%;
    background-color: white;
  }
  .sbToggle {
    height: 28px;
    background-color: #22A98E;
  }
  .sbOptions a:link {
    color: #5e5e5e ;
    &:hover{
      color: #EADB35;
    };
  }
}

.action.input_action{
  text-align: center;
  width: 100%;
  //margin-top: 15px;
}

#lead_children_input,#lead_adults_input{
  padding: 0 !important;
  width: 100%;
}

@media (max-width: 1024px) {
  .form-group input#lead_children{
    margin-left: 0px;
    width: 100%;
  }
}

@media (max-width: 767px) {
  #lead_children_input,#lead_adults_input{
    padding: 0 !important;
  }

  #lead_adults, #lead_children{
     width: 100% !important;
  }

  #lead_travel_from, #lead_travel_to, #lead_contact_number{
    width:100% !important;
  }
  
  #lead_customer_id_input .sbHolder {
    width: 100%;
  }
  
  .ud-vd{
    padding: 6px 4px !important;
  }
}

form.lead, form.booking {
  div.formnestic-nested-model-container fieldset.formnestic-li-fieldset {
    border-bottom: none;
    border-top: 1px dashed #cccccc;
    //padding-top: 25px;
//    margin-top: 25px;
  }
}

form.booking  .sbHolder {
  margin-left: auto !important;
}

form.booking {
  .formnestic-nested-model-container .formnestic-li-fieldset {
    border-bottom: none;
    .sbHolder {
      margin-top: 25px;
      background: white;
      margin-left: 200px;
      width: 67%;
      border-radius: 4px;

      .sbSelector {
        color: #5e5e5e;
        width: 100%;
      }
      ul.sbOptions {
        width: 100%;
        background-color: white;
      }
      .sbToggle {
        height: 28px;
        background-color: #22A98E;
      }

      .sbOptions a:link {
        color: #5e5e5e ;
        &:hover{
          color: #EADB35;
        };
      }
    }
  }
}

form.lead .formnestic-nested-model-container .formnestic-li-fieldset {
  border-bottom: none;
  .sbHolder {
    //margin-top: 25px;
    background: white;
    width: 67%;
    border-radius: 4px;

    .sbSelector {
      color: #5e5e5e;
      width: 100%;
    }
    ul.sbOptions {
      width: 100%;
      background-color: white;
    }
    .sbToggle {
      height: 28px;
      background-color: #22A98E;
    }

    .sbOptions a:link {
      color: #5e5e5e ;
      &:hover{
        color: #EADB35;
      };
    }
  }
}


.inputs.formnestic-li-fieldset.formnestic-even-row{
  border-bottom: none;
  .sbHolder {
    margin-top: 15px;
    background: white;
    width: 98%;
    border-radius: 4px;

    .sbSelector {
      color: #5e5e5e;
      width: 100%;
    }
    ul.sbOptions {
      width: 100%;
      background-color: white;
    }
    .sbToggle {
      height: 28px;
      background-color: #22A98E;
    }

    .sbOptions a:link {
      color: #5e5e5e ;
      &:hover{
        color: #EADB35;
      };
    }
  }
}

.sum-pax-lead{
  font-size: 15px;
  margin-top: 20px;
}


.btn.btn-primary.filter-lead{
  //width:100px;
}

#listing-table{
  .listing-table{
    margin-top:50px;
  }
}
#vendor_filter input.btn-primary[type="submit"] {
  margin-top: 20px;
}

input.filter-booking[type="submit"] {
  margin-top: 10px;
}

input.btn-primary[type="submit"] {
  margin-top: -60px;
}

input.filter-lead[type="submit"] {
  margin-top: 25px;
  margin-left: 40px;
}
input.filter-booking[type="submit"] {
  margin-top: 10px;
}

.form-group p.inline-errors{
  float: left;
  padding-left: 0px;
  color: #ff0000;
  margin-bottom: -10px;
  margin-top: 5px;
  padding-top: 0px;
}

#vendor_filter.reservations {
  li#vendor_submit_action{
    width: 320px;
    .filter-style {
      margin-left: 0px;
    }
  }
  .sbHolder {
    width: 320px;
  }
}
form.lead .formnestic-nested-model-container .formnestic-li-fieldset .sbHolder .sbOptions li {
  margin-top: 0px;
  a:link {
    margin-top: 15px;
  }
} 
li#lead_office_input .sbHolder {
  margin-top: 10px;
  margin-bottom: 20px;
}
.off1 {
  width: 100%;
  float: left;
  font-size: 18px;
}
.off2 {
  width: 100%;
  float: left;
  font-size: 13px;
  line-height: 40px;
}