// Place all the styles related to the leads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

hr{
  height: 2px; 
  border: 0; 
  box-shadow: inset 0 2px 2px -2px rgba(0, 0, 0, 0.5);
}

.form-group button#create{
  width: 80%;
}

.form-group input#lead_adults{
  width: 80%;
  margin: 0 auto;
  //margin-right: 30px;
}

.form-group input#lead_children{
  width: 80%;
  margin: 0 auto;
 // margin-left: 30px;
}

#search-lead{
  width: 50%;
}

.new-lead #new{
  margin-top: 20px;
}

.form-group p{
  margin-left: 100px;
  font-size: 15px;
}

.form-adults{
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #e5e6e7;
  border-radius: 5px;
  color: inherit;
  display: block;
  margin: 0 auto;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 80%;
}

#lead_travel_from, #lead_travel_to,input#datetimepicker_from, input#datetimepicker_to {
  background-image: url("/assets/dashboard/calendar-icon.png");
  background-repeat: no-repeat;
  background-position: 99% 6px;
}

.inputs li{
  list-style: none;
}

#lead_travel_from_input, 
#lead_travel_to_input, 
#lead_contact_number_input, 
#lead_adults_input, 
#lead_children_input, 
.sum-pax {
  margin-top: 20px;
}

form.select-lead-status .sbHolder{
  background: white;
  width: 73%;
  border-radius: 4px;
  margin-bottom: 20px;
  .sbSelector {
    color: #5e5e5e;
    width: 100%;
  }
  ul.sbOptions {
    width: 100%;
    background-color: white;
  }
  .sbToggle {
    height: 28px;
    background-color: #22A98E;
  }
  
  .sbOptions a:link {
    color: #5e5e5e ;
    &:hover{
      color: #EADB35;
    };
  }
}

#lead_customer_id_input .sbHolder{
  background: white;
  width: 90%;
  border-radius: 4px;
  margin-bottom: 20px;
  .sbSelector {
    color: #5e5e5e;
    width: 100%;
  }
  ul.sbOptions {
    width: 100%;
    background-color: white;
  }
  .sbToggle {
    height: 28px;
    background-color: #22A98E;
  }
  
  .sbOptions a:link {
    color: #5e5e5e ;
    &:hover{
      color: #EADB35;
    };
  }
}

#lead_travel_from, #lead_travel_to, #lead_contact_number{
  width: 73% !important;
}

#lead_adults, #lead_children{
   width: 75% !important;
}


form.lead div.formnestic-nested-model-container div.formnestic-list-new-entry-link-container a {
  float: right;
  display: block;
  background-color: #1ab394;
  border-color: #1ab394;
  color: #ffffff;
  border-radius: 5px;
  font-size: 18px;
form.lead, form.booking {
  div.formnestic-nested-model-container div.formnestic-list-new-entry-link-container a {
    float: right;
    display: block;
  }
}


form.lead, form.booking {
  div.formnestic-nested-model-container fieldset.formnestic-li-fieldset{
    border-bottom: 1px dashed #cccccc;
    display: block;
    float: left;
    margin-bottom: 15px;
    position: relative;
    width: 100%;
  }
}



form.lead div.formnestic-nested-model-container fieldset.formnestic-li-fieldset {
  li.input{
    margin-bottom: 0px;
  }
  border-bottom: none;
  border-top: 1px dashed #cccccc;
  padding-top: 15px;
  margin-top: 15px;
}

form.lead .formnestic-nested-model-container .formnestic-li-fieldset {
  border-bottom: none;
  .sbHolder {
    margin-top: 25px;
    background: white;
    width: 73%;
    border-radius: 4px;
  
    .sbSelector {
      color: #5e5e5e;
      width: 100%;
    }
    ul.sbOptions {
.form-group .lead-tour-category .sbHolder, .form-group .booking-tour-category .sbHolder{
  background: white;
  border-radius: 4px;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 73%;
  .sbSelector {
    color: #5e5e5e;
    width: 100%;
  }
  ul.sbOptions {
    width: 100%;
    background-color: white;
  }
  .sbToggle {
    height: 28px;
    background-color: #22A98E;
  }
  .sbOptions a:link {
    color: #5e5e5e ;
    &:hover{
      color: #EADB35;
    };
  }
}


@media (max-width: 767px) {
  #lead_children_input,#lead_adults_input{
    padding: 0 !important;
  }
  
  #lead_adults, #lead_children{
     width: 100% !important;
  }
  
  #lead_travel_from, #lead_travel_to, #lead_contact_number{
    width:100% !important;
  }
}
form.lead, form.booking {
  div.formnestic-nested-model-container fieldset.formnestic-li-fieldset {
    border-bottom: none;
    border-top: 1px dashed #cccccc;
    padding-top: 25px;
    margin-top: 25px;
  }
}
form.booking  .sbHolder {
  margin-left: auto !important;
}
form.lead, form.booking {
  .formnestic-nested-model-container .formnestic-li-fieldset {
    border-bottom: none;
    .sbHolder {
      margin-top: 25px;
      background: white;
      margin-left: 200px;
      width: 325px;
      border-radius: 4px;
  
      .sbSelector {
        color: #5e5e5e;
        width: 100%;
      }
      ul.sbOptions {
        width: 325px;
        background-color: white;
      }
      .sbToggle {
        height: 28px;
        background-color: #22A98E;
      }
  
      .sbOptions a:link {
        color: #5e5e5e ;
        &:hover{
          color: #EADB35;
        };
      }
    }
  }
}


form.calendar .form-group .form-control{
  width: 73%;
}



@media (max-width: 767px) {
  #lead_children_input,#lead_adults_input{
    padding: 0 !important;
  }
  
  #lead_adults, #lead_children{
     width: 100% !important;
  }
  
  #lead_travel_from, #lead_travel_to, #lead_contact_number{
    width:100% !important;
  }
}


li#lead_submit_action input {
  float: left;margin-left: 30%;
}

form.booking li#booking_number_adult_input input#booking_number_adult, li#booking_number_child_input input#booking_number_child{
  width: 150px !important;
}
form.booking {
  padding-bottom: 50px;
}
li#booking_status_input , li#booking_user_id_input{
  float: left;
  width: 100%;
  .sbHolder {
    float: left;
  }
}

