<table class='listing-table'>
  <thead>
    <tr>
      <th class="booking-number">Booking number
        <a class="menu-down" href="#">
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        </a>
      </th>
      <th class="travel-date">Travel Date
        <a class="menu-down" href="#">
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        </a>
      </th>
      <th class="booking-date">Booking Date
        <a class="menu-down" href="#">
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        </a>
      </th>
      <th class="booking-name">Name
        <a class="menu-down" href="#">
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        </a>
      </th>
      <th class="booking-tour">Tour Id
        <a class="menu-down" href="#">
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        </a>
      </th>
      <th class="booking-status">Status
        <a class="menu-down" href="#">
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        </a>
      </th>
      <th class="booking-sale">Sales Person
        <a class="menu-down" href="#">
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        </a>
      </th>
      <th class="itinerary">Itinerary
        <a class="menu-down" href="#">
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        </a>
      </th>
    </tr>
  </thead>        
  <tbody>
  </tbody>
</table>