<table class='listing-table'>
  <thead>
    <tr>
      <th class="no">Date</th>
      <th class="customer-thead-name">Name
          <a class="menu-down" href="#">
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
          </a>
      </th>
      <th class="customer-thead-email">Email Address
        <a class="menu-down" href="#">
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        </a>
      </th>
      <th class="customer-thead-contact">Tour Category
        <a class="menu-down" href="#">
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        </a>
      </th>
      <th class="customer-thead-address">Status
        <a class="menu-down" href="#">
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        </a>
      </th>
      <th class="customer-thead-country">Sale Person
        <a class="menu-down" href="#">
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        </a>
      </th>
    </tr>
  </thead>        
  <tbody>
  </tbody>
</table>