<div class="row wrapper border-bottom white-bg page-heading text-center">
  <div class='col-lg-12'>
    <div class="m-b-md text-center">
      <a href="<%= customers_url %>" class="btn btn-white btn-xs pull-left">&larr; Back</a>
      <h2>Edit Customer <%= @customer.name.html_safe %></h2>
      <ol class="breadcrumb">
        <li>
          <a href="/dashboard">Home</a>
        </li>
        <li>
          <a href="/dashboard">Sale</a>
        </li>
        <li class="active">
          <strong>Customer</strong>
        </li>
      </ol>
    </div>
  </div>
</div>  
<div class='wrapper wrapper-content'>
  <div class='ibox white-bg'>
    <div class='ibox-content'>
      <%= render 'form' %>
    </div>
  </div>
</div>
          
