<%= form_for @tour_category, html: { class: 'form-horizontal ajax-form', enctype: 'multipart/form-data' } do |form| %>
  <div class='form-group'>
    <!-- <label class='col-sm-2 control-label text-align-right'>Name:</label> -->
    <div class='col-md-12 col-sm-12 col-xs-12'>
      <%= form.text_field :name, class: 'form-control', placeholder: "Name Category" %>
    </div>
  </div>
  
  <div class="form-group text-center">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <a class="btn btn-white" href='<%= tour_categories_url %>'>Cancel</a>
      <button class="btn btn-primary save-form-button" type="submit">Save Changes</button>
    </div>
  </div>
  
<% end %>