<div class='ibox white-bg'>
	<div class='ibox-header'>
		<h5>Edit Tour Category</h5>
		<div class="ibox-tools">
			<a class="close-link">
				<i class="fa fa-times"></i>
			</a>
		</div>
	</div>  
	<div class='ibox-content'>
	  <%= render 'form' %>
	</div>
</div>
    
  
