<div class="row wrapper border-bottom white-bg page-heading text-center">
  <h2>Tour Categories</h2>
  <ol class="breadcrumb">
    <li>
      <a href="/dashboard">Home</a>
    </li>
    <li class="active">
      <strong>Tour Categories</strong>
    </li>
  </ol>
</div> <!-- wrapper border-bottom -->
<div class='wrapper wrapper-content'>
  <div class='ibox'>
    <div class='ibox-content container-fluid white-bg'>
      <div class="col-md-6 col-sm-6 col-xs-12 padding-0">
        <div class="new">
          <%= link_to 'Add New', new_tour_category_url, class: "btn btn-primary" %>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 padding-0 text-right">
        <form class="group-input">
          <input type='search' id='search-category' placeholder="Search..."/>
          <a class="submit" type="submit" href="#">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </a>
        </form>
      </div>
    </div>  
    <div id="categories_listing">
      <%= render :partial => 'list', locals: {tour_categories: @tour_categories} %>
    </div>
  </div> <!-- ibox -->
</div>   
