// Place all the styles related to the bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.listing-table thead th.no,
table.listing-table thead th.booking-travel-date,
table.listing-table thead th.booking-name,
table.listing-table thead th.booking-status,
table.listing-table thead th.booking-action
{
  background: #8093a5 none repeat scroll 0 0;
  color: #fff;
}

table.listing-table thead th.booking-travel-date a.menu-down,
table.listing-table thead th.booking-name a.menu-down,
table.listing-table thead th.booking-status a.menu-down,
table.listing-table thead th.booking-action{
  color: #fff;
  top: 3px;
  left: 5px;
}


table.listing-table thead th.booking-number,
table.listing-table thead th.booking-date,
table.listing-table thead th.booking-tour-code,
table.listing-table thead th.booking-sale,
table.listing-table thead th.itinerary{
  background:#ececec none repeat;
  color: #77888f;
}

table.listing-table thead th.booking-number a.menu-down,
table.listing-table thead th.booking-date a.menu-down,
table.listing-table thead th.booking-tour-code a.menu-down,
table.listing-table thead th.booking-sale a.menu-down,
{
  color: #8093a5;
  top: 3px;
  left: 5px;
}

.sum-pax-booking{
  font-size: 15px;
  margin-top: 20px;
}


#listing-table{
  margin-top: 20px;
}

form .sbHolder {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 4px;
    margin-top: 25px;
    width: 100%;
}

form.lead ol li {
    float: left;
    width: 100%;
}

#booking_submit_action .filter-booking{
  margin-top: 25px;
}

li#booking_travel_date_input, li#booking_travel_to_input{
  margin-top: 25px;
}
li#booking_contact_number_input, #booking_number_adult_input, #booking_number_child_input{
  margin-top: 25px;
}

form.booking li#booking_number_adult_input input#booking_number_adult, 
li#booking_number_child_input input#booking_number_child{
  width: 80% !important;
}

li#booking_number_child_input input#booking_number_child{
  margin-left: 85px;
}

form.booking {
  padding-bottom: 20px;
}

form.booking p{
  margin-top: 20px;
}

.filter-booking {
  font-size: 12px !important;
  margin-top: 15px;
  width :100px;
}

#listing-table {
    margin-top: 20px;
}
a.send-quotation, .convert-to-booking {
  background-color: #1ab394;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  float: right;
  font-size: 15px;
  height: 37px;
  margin-top: 20px;
  padding-top: 7px;
  text-align: center;
  width: 185px;
  &:hover {
    background-color: #18a689;
  };
}

@media (max-width: 1024px) {
  li#booking_number_child_input input#booking_number_child{
    margin-left: 0px;
    width: 100%;
  }
}

@media (max-width: 767px) {
  li.stringish input {
    width:100% !important;
  }
  #lead_travel_from, #lead_travel_to, #lead_contact_number {
    width: 100% !important;
  }
}