<div class="row wrapper border-bottom white-bg page-heading text-center">
  <h2>Countrys</h2>
  <ol class="breadcrumb">
    <li>
      <a href="/dashboard">Home</a>
    </li>
    <li>
      <a href="/tours/dashboard_page">Admin</a>
    </li>
    <li class="active">
      <strong>Countrys</strong>
    </li>
  </ol>
</div>
<div class='wrapper wrapper-content'>
  <div class='ibox'>
    
    <div id="listing-table">
      <%= smart_listing_render(:countries) %>
    </div>
  </div> <!--ibox-->
</div> <!--wrapper-content-->

