#home_page_container {
  .navbar {
    margin-bottom: 0;
  }
}

#left_sidebar_container {
  width: 100%;
  background: #f8f8f8;
}

@media(min-width: 768px) {
  #only_for_large_screen {
    display: block;
  }
  
  #only_for_small_screen {
    display: none;
  }
}

@media(max-width: 767px) {
  #only_for_large_screen {
    display: none;
  }
  
  #only_for_small_screen {
    display: block;
  }
}