// Place all the styles related to the incomings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table#incomings_listing_table {
  th {
    color: #fff;
    &.odd{
      a.sortable {
        color: #fff;
      }
      background: #8093a5;
    }
    &.even {
      a.sortable {
        color: #77888f;
      }
      background: #ececec;
    }
  }
  td{
    &.no-data{
      text-align: center;
    }
  }
}

form.smart-listing-controls {
  max-width: 325px;
  margin: 0 auto;
  ol{
    li{
      margin-bottom: 15px;
      width:325px;
    }
    .select-form-field {
      .sbHolder {
        border-radius: 6px !important;
        width: 325px;
      }
    }
    .date-form-field {
      position: relative;
      input {
        width: 325px;
        margin:0 auto;
        display:block;
        border-radius: 5px;
        box-shadow: 0 1px 2px #dedede inset;
        border: 1px solid #ccc;
        padding:7px;
      }
      span.calendar-icon {
        position: absolute;
        top:6px;
        right:5px;
        background-image: url("/assets/calendar-icon.png");
        background-repeat: no-repeat;
        width:20px;
        height:20px;
      }
    }
  }
}
.incoming-detail{
  p.title {
    font-size:14px;
    font-weight: 600;
    margin-bottom: 20px;
    span{
      font-weight: 500;
      padding-left: 10px;
    }
    &.no-margin {
      margin: 0;
      margin-bottom:10px;
    }
    &.legend {
      padding-bottom: 10px;
      padding-top:10px;
      border-bottom: 1px solid #ebebeb;
      border-top: 1px solid #ebebeb;
      
    }
  }
  p.content {
    margin-bottom:15px;
  }
  .incoming-header {
    padding-left: 20px;
    padding-right:20px;
    height: auto;
    p.title {
      float:left;
      display:block;
      margin-bottom:0px;
      margin-top:6px;
    }
    .sbHolder {
      margin-bottom:8px;
    }
  }
  .sbHolder {
    display:block;
    float:right;
    width: 115px;
    background: #fff;
    border-radius: 6px !important;
    .sbToggle {
      background-color: #22a98e;
      height:28px;
    }
    
    .sbSelector {
      color: #5e5e5e;
    }
    .sbOptions{
      width:130px;
      background: #fff;
      li{
        a{
          color: #ddd;
          &:hover {
            color: #5e5e5e;
          }
        }
      }
    }
  }
  .sbToggle {
    background: rgba(0, 0, 0, 0) url("/assets/select-icons.png") no-repeat scroll 0 -116px;
  }
  .sbToggleOpen {
      background: rgba(0, 0, 0, 0) url("/assets/select-icons.png") no-repeat scroll 0 -18px;
  }
  div.submit-comment-box{
    padding:0;
    padding-right:13px;
    textarea#comment_input{
      height: 70px;
      resize: none;
      border-radius: 5px;
      box-shadow: 0 1px 2px #dedede inset;
      border: 1px solid #ccc;
      padding:7px;
      min-width:220px;
      float:right;
      margin-bottom: 10px;
    }
    div#submit_comment{
      float: right;
      margin-top:10px;
    }
  }
  div.user-info{
    margin: 2px 0px;
    padding:0;
    padding-right:10px;
    min-width:58px;
    float:right;
    div.info-content {
      width:48px;
      float:right;
      padding-right:10px;
      display:block;
      div.name-label {
        display:block;
        color: #5e5e5e;
        font-size: 12px;
        text-align:center;
        width:48px;
      }
      div.avatar-box {
        display:block;
        background: #ccc;
        overflow:hidden;
        border-radius: 24px;
        box-shadow: 0 1px 2px #dedede;
        border: 1px solid #ccc;
        width:48px;
        img{
          width:auto;
          height:auto;
        }
      }
    }
  }
  ul.comments-box{
    padding:0;
    margin-bottom:35px;
    li{
      margin-bottom:10px;
      div.content-box{
        padding:10px;
        border: 1px solid #bebebe;
        min-width:220px;
        margin-bottom:10px;
        float:right;
        .time-label{
          text-align: right;
          .fa{
            margin-right:2px;
          }
        }
      }
    }
  }
}
