<div class='row'>
  <div class='col-lg-12'>
    <div class="row wrapper border-bottom white-bg page-heading">
      <div class="col-lg-12">
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="new-lead">
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 text-center">
          <h2>Booking</h2>
          <ol class="breadcrumb">
            <li>
              <a href="/dashboard">Home</a>
            </li>
            <li>
              <a href="/dashboard">Sales</a>
            </li>
            <li class="active">
              <strong>Incoming</strong>
            </li>
          </ol>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
        </div>
      </div>
    </div>
    
    <div class='wrapper wrapper-content'>
      <div class='ibox'>
        <div class='ibox-content container-fluid white-bg'>
          <div id="vendor_filter">
            <%= smart_listing_controls_for(:incomings) do %>
              <ol class='filter-form-group' >
                <li class="search-control">
                 <%= select_tag :source_eq, '', collection: []  %>
                </li>  
                <li id="source_filter_control" >
                  
                </li>  
              </ol>  
            <% end %>
          </div>
        </div>
        <div id="listing-table">
          <%= smart_listing_render(:incomings) %>
        </div>
      </div>
    </div>
  </div>
</div>

   

