<div class="dash-board-admin">
  <div class="logo-amazing"></div>
</div>
<script language="javascript">
 $(document).ready(function() {
   $(".navbar-static-top").css("background-color", "white");
   
 })
</script>